<div class="container my-5">
    <footer class="text-center text-lg-start" stylee="background-color: #db6930;">
      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-warning btn-lg btn-floating mx-2" style="background-color: #d9ae05;">
          <a rel="me" href="https://hackerone.com/mr-medi" target="_blank" title="">
            <img style="max-height: 50px!important" height="50" src="/assets/img/h1.png">
          </a>
        </button>
        <button type="button" class="btn btn-warning btn-lg btn-floating mx-2" style="background-color: #d9ae05;">
          <a rel="me" href="https://twitter.com/medi_0ne" target="_blank" title="">
            <img style="max-height: 50px!important" height="50" src="/assets/img/twitter.png"></a>
        </button>
      </div>
  
      <div class="text-center text-white p-3" style="color: #a0a9b0">
        © {{ 'now' | date: "%Y" }} Medi
      </div>
    </footer>
  </div>
  